{% extends 'layout1.html' %}

{% block body %}
  <h1>Welcome <small> {{session.username}}</small></h1>
  <hr>
  <table class="table table-striped" id="demo">
    <tr>
      <th>ID</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Length</th>
      <th>Name</th>
      <th>People</th>
      <th>Product</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.chat_id}}</td>
        <td>{{article.contact}}</td>
        <td>{{article.date}}</td>
        <td>{{article.length}}</td>
        <td>{{article.name}}</td>
        <td>{{article.people}}</td>
        <td>{{article.product}}</td>
      </tr>
    {% endfor %}
  </table>

<script src="{{ url_for('static', filename='tablefilter/tablefilter.js')}}"></script>

  <script data-config>
      var filtersConfig = {
          base_path: '/static/tablefilter/',
          col_1: 'select',
          col_2: 'select',
          col_3: 'select',
          alternate_rows: true,
          rows_counter: true,
          btn_reset: true,
          loader: true,
          status_bar: true,
          mark_active_columns: true,
          highlight_keywords: true,
          col_types: [
              'string', 'string', 'number',
              'number', 'number', 'number',
              'number', 'number', 'number'
          ],
          custom_options: {
              cols:[3],
              texts: [[
                  '0 - 25 000',
                  '100 000 - 1 500 000'
              ]],
              values: [[
                  '>0 && <=25000',
                  '>100000 && <=1500000'
              ]],
              sorts: [false]
          },
          col_widths: [
              '150px', '100px', '100px',
              '70px', '70px', '70px',
              '70px', '60px', '60px'
          ],
          extensions:[{ name: 'sort' }]
      };

      var tf = new TableFilter('demo', filtersConfig);
      tf.init();

  </script>
{% endblock %}
