{% extends 'layout1.html' %}

{% block body %}
  <h1>Welcome <small> {{session.username}}</small></h1>
  <hr>
  <table class="table table-striped" id="demo">
    <tr>
      <th>ID</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Length</th>
      <th>Name</th>
      <th>People</th>
      <th>Product</th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.chat_id}}</td>
        <td>{{article.contact}}</td>
        <td>{{article.date}}</td>
        <td>{{article.length}}</td>
        <td>{{article.name}}</td>
        <td>{{article.people}}</td>
        <td>{{article.product}}</td>
      </tr>
    {% endfor %}
  </table>

<script src="{{ url_for('static', filename='tablefilter/tablefilter.js')}}"></script>

  <script data-config>
  var filtersConfig = {
    base_path: 'static/tablefilter/',
    state: {
      types: ['hash'],
      filters: true,
      page_number: true,
      page_length: true,
      sort: true
    },
    paging: {
      results_per_page: ['Records: ', [10,25,50,100]]
    },
    alternate_rows: true,
    btn_reset: true,
    rows_counter: true,
    loader: true,
    status_bar: true,
    col_0: 'multiple',
    col_1: 'select',
    col_2: 'checklist',
    col_widths: [
        '180px', '120px', '120px',
        '100px', '100px', '100px',
        '100px', '100px', '100px'
    ],
    col_types: [
        'string', 'string', 'number',
        'number', 'number', 'number',
        'number', 'number', 'number'
    ],
    extensions:[{
        name: 'sort'
    }]
};
var tf = new TableFilter('demo', filtersConfig);
tf.init();

  </script>
{% endblock %}
