{% extends 'layout1.html' %}

{% block body %}
  <h1>Welcome <small> {{session.username}}</small></h1>
  <hr>
  <table class="table table-striped" id="demo">
    <tr>
      <th>ID</th>
      <th>Contact</th>
      <th>Date</th>
      <th>Length</th>
      <th>Name</th>
      <th>People</th>
      <th>Product</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.chat_id}}</td>
        <td>{{article.contact}}</td>
        <td>{{article.date}}</td>
        <td>{{article.length}}</td>
        <td>{{article.name}}</td>
        <td>{{article.people}}</td>
        <td>{{article.product}}</td>
      </tr>
    {% endfor %}
  </table>
  <script>
var tf = new TableFilter('demo'), {
    base_path: '/static/tablefilter/'
});
tf.init();
</script>
{% endblock %}
